UseTab: Never
IndentWidth: 4
BreakBeforeBraces: Stroustrup
AllowShortIfStatementsOnASingleLine: true
AllowShortFunctionsOnASingleLine: false
AlignConsecutiveMacros: true
IndentCaseLabels: true
ColumnLimit: 100